body{
  background-color: black;
  color: gold;
  margin: 2em

}
h3{
  text-align: center;
  font-size: 3em;
  margin: 40px 0;
}
h1{
  font-size: 2.15em;
  margin: 40px 0;
  text-align: center;
}
p{
  color: hotpink;
  font-size: 2em;
}
/* unvisited link */
a:link {
  color: orange;
}

/* visited link */
a:visited {
  color: violet;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
